In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame(["1541808927796","1541808927796","1541808927796"], columns=["ts"])
df

              ts
0  1541808927796
1  1541808927796
2  1541808927796

In [8]:
df["ts"] = pd.to_datetime(df["ts"], unit='ms')
t = pd.Series(df["ts"])
t.head()

0   2018-11-10 00:15:27.796
1   2018-11-10 00:15:27.796
2   2018-11-10 00:15:27.796
Name: ts, dtype: datetime64[ns]

In [44]:
xx = ((i,pd.to_datetime(i).dt.hour) for i in df["ts"])
yy=list(xx)
yy[0]
##xx(0)

AttributeError: 'Timestamp' object has no attribute 'dt'

In [39]:
time_df = pd.DataFrame(yy, columns= ["time","hour"])

In [40]:
time_df.head()

                     time                 hour
0 2018-11-10 00:15:27.796  0    0
dtype: int64
1 2018-11-10 00:15:27.796  0    0
dtype: int64
2 2018-11-10 00:15:27.796  0    0
dtype: int64